.navbar{
    background-color: #0b0b0b;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    opacity: 80%;

    .container{
        padding: 0px 50px;
        height: 70px;
        align-items: center;
        justify-content: space-between;
        display: flex;
       
        .left{
            display: flex;
            align-items: center;
            img{
                height: 25px;
                margin: 40px;
            }
            span{
                margin-right: 20px;
                cursor: pointer;
            }
        }
        .right{
            display: flex;
            align-items: center;
            .icon{
                margin: 0px 15px;
                cursor: pointer;
            }
            img{
                width: 30px;
                height: 30px;
                border-radius: 5px;
                object-fit: cover;
                cursor: pointer;
            }
        }
       
    }
}